*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
body{
    font-family: 'NanumBarunGothic';
    font-size: 14px;
    line-height: 24px;
    color: #000;
    min-width:1350px;
}
ul, ol{list-style: none;}

/*header line start*/
#header{background-color: #fee4c0;}

#header_inner{
    width: 1320px;
    margin: 0 auto;
    height: 200px;
    position: relative;
}

.list1{
    position: absolute;
    top: 10px;
    right: 0;
}

.list1 li{
    float: left;
    padding-left: 20px;
}
.list1 li a{color: grey; display: block;}
.list1 li a:hover{
    color: #000;
    transition: all 1s;
}

#header_inner img{
    position: absolute;
    top: 36px;
    left: 594px;
}

.list2{
    position: absolute;
    bottom:0;
    left: 220px;

}

.list2 li{
    float: left;
    padding: 25px 0;
    width: 220px;
    text-align: center;
}

.list2 li a{
    color: orange;
    font-size: 22px;
    font-weight: bold;
}
.list2 li a:hover{
    color: orangered;
    transition: all 1s;
}
/*header line E*/

/*fixed_btn start*/
.fixed_btn{
    width: 50px;
    position: fixed;
    right: 50px;
    bottom: 40px;
    display: block;
    z-index: 10;
}
/*fixed_btn E*/

/*mb start*/
.mb_bg1{
    height:630px;
    background: url(img/mb1.jpg) no-repeat center top;
}
.inner{
    width:1320px;
    margin:0 auto;
    height: 100%;
    position: relative;
}
.inner img{
    position: absolute;
    top:70px;
    left: 66px;
}

.mb_bg2{
    height: 630px;
    background: url(img/mb2.jpg) no-repeat center top;
}

.mb_bg3{
    height: 630px;
    background:  url(img/mb3.jpg) no-repeat center top;
}

.go{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    display: block;
    padding: 15px 20px;
    border: 3px solid #fff;
    border-radius: 30px;
    position: absolute;
    bottom: 115px;
    left: 745px;
}

.swiper_wrapper{
    width: 100%;
    position: relative;
}

.mb .swiper-pagination-bullet{
    background-color: orangered;
    width: 15px;
    height: 15px;
}

.mb .swiper-button-next{
    color: orangered;
}

.mb .swiper-button-prev{
    color: orangered;
}
/*mb E*/

/*best menu start*/
.best_inner{
    width: 1320px;
    margin: 0 auto;
    padding: 60px 96px;
    text-align: center;
    box-sizing: border-box;
    height: 700px;
}

.best_inner>h1{
    font-size: 50px;
    padding-bottom: 50px;
    color: #f68a1f;
}

.box_in{
    float: left;
    width: 344px;
    height: 443px;
    padding: 30px;
    background-color: #fee3c0;
    border-radius: 40px;
    box-sizing: border-box;
}

.leri{margin: 0 48px;}

.box_in img{
    width: 290px;
    height: 290px;
}

.box_in h1{
    font-size: 35px;
    padding: 10px 0;
}

.box_in h2{
    font-size: 35px;
    color: #f26122;
    padding-top: 10px;
}
/*best menu E*/

/*savle mean start*/
.main_visual{width: 1320px; margin: 0 auto;}
/* kensington common main page style */
.mainpage .main_visual .mainviewcont.main_visual_fixed{position:relative;padding-top:41.7%;overflow:hidden;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view{width:100%;height:100%;font-size:0;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap{position:absolute;top:0;height:100%;background-size:cover;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap .viewbg{visibility:hidden;position:absolute;top:0;left:0;right:0;bottom:0;background-size:cover;background-position:50% 50%;opacity:0;transition:opacity .1s ease, transform 5s ease 1s;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap.hover{z-index:1;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual_view .viewbg_wrap.hover .viewbg{visibility:visible;opacity:1;transform:scale(1.03);}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual{position:absolute;top:0;left:0;display:table;width:100%;height:100%;z-index:10;table-layout:fixed;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a{position:relative;display:table-cell;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a:after { content:''; display:block; position:absolute; top:0; left:0; bottom:0; z-index:1; width:1px; background:rgba(255,255,255,0.1);}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap{position:absolute;top:22%;left:70px;right:70px;display:block;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap .title{display:block;margin-bottom:20px;font-family:'Noto Sans KR';font-size:48px;font-weight:100;color:#fff;letter-spacing:0}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a .text_wrap .desc{font-size:17px;font-weight:400;color:#fff;line-height:1.5;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.on { background:rgba(0,0,0,0);}


.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.off { background:none;}
.mainpage .main_visual .mainviewcont.main_visual_fixed .visual a.off .text_wrap {opacity:0;}
.hide{opacity:0.5;}
/*savle mean E*/

/*items start*/
.items_inner{
    width: 1320px;
    height: 730px;
    margin: 0 auto; 
    padding: 50px 0;
    text-align: center;
}

.items_inner>h1{
    font-size: 40px;
    color: #f26122;
    padding-bottom: 50px;
}

.items_inner>div{
    float: left;
    width: 300px;
    height: 324px;
}

.it_right{
    padding-right: 40px;
}

.items_inner>div>p{
    font-size: 20px;
    padding: 20px 0 10px;
}

.items_inner>div>h2{
    font-size: 25px;
    color: #f26122;
}

.items_inner>div>a>img:hover{
    transform: scale(1.05);
}
/*items E*/

/*review start*/
.review_inner{
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    margin-bottom: 20px;
}

.review_inner>h1{
    font-size: 40px;
    color: #f26122;
    padding-bottom: 50px;
    text-align: center;
}

.review_background{
    width: 1100px;
    height: 550px;
    background: #fee3c0;
    border-radius: 40px;
    margin: 0 auto;
}

.review_box{
    width: 880px;
    height: 466px;
    border-radius: 40px;
    padding-top: 40px;
}

.re_box>img{
    float: left;
}

.text{
    float: left;
    padding-left: 60px;
}

.text>h1{
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.text>p{
    font-size: 19px;
    padding-bottom: 50px;
}
.text>h3{
 color: red;
}

.review .swiper-horizontal>.swiper-pagination-bullets,  .review.swiper-pagination-bullets .review .swiper-pagination-horizontal, .review .swiper-pagination-custom,  .review .swiper-pagination-fraction{
    bottom: 40px;
    left: 62%;
    width: 30px;
}

.review_box .swiper-button-prev{
    left:520px;
    top: 450px;
}

.review_box .swiper-button-next{
    right:280px;
    top:450px;
}

.review_box .swiper-button-prev:after{content:"◀";
font-size: 20px;
color:#000;
opacity: 1;}

.review_box .swiper-button-next:after{content:"▶";
    font-size: 20px;
    color:#000;
    opacity: 1;
}
/*review E*/

/*savle card start*/
.card_inner{
    width: 1320px;
    height: 620px;
    margin: 0 auto;
    position: relative;
}

.card_inner img{
    position: absolute;
    top: 110px;
    left: 106.5px;
}
/*savle card E*/

/*footer start*/
.footer{
    background: #ffc67b;
}

.footer_inner{
    width: 1320px;
    height: 310px;
    margin: 0 auto;
    position: relative;
}

.footer_left{
    float: left;
    width: 550px;
    padding-left: 110px;
    box-sizing: border-box;
}

.footer_right{
    float: right;
    width: 770px;
    padding-right: 110px;
    box-sizing: border-box;
}

.tou li{
    float: left;
    padding: 30px 0 15px;
    padding-right: 5px;
}

.tou a{
    display: block;
    color: #444;
}

.tou a:hover{
    color: #000;
    transition: all 1s;
}

.footer_left>h2{
    clear: both;
    padding-bottom: 10px;
}

.footer_left>h1{
    color: #9d1010;
    font-size: 33px;
    padding-bottom: 10px;
}

.sns li{
    float: left;
    padding-right: 10px;
    padding-top: 30px;
}

.sns li a img{
    opacity: 50%;
}

.sns li a img:hover{
    opacity: 100%;
}

.footer_right>p{
    color: #444;
    padding-top: 30px;
}

.footer_inner>img{
    position: absolute;
    bottom: 50px;
    right: 180px;
}
/*footer E*/